<!-- scrollspy -->
<div class="row">
    <div class="col s12 m9 l10">
        <div id="master" class="section scrollspy">
            <h5>{{idMaster}} | Master File</h5>
            <table>
                <tr>
                    <td><strong> Hotel : </strong>{{strHotel}} </td>
                    <td><strong> Couple's Name :</strong> {{strNombrePareja}}</td>
                </tr>
                <tr>
                    <td><strong> Wedding date:  </strong>{{strFechaBoda | date:'dd/MM/yyyy' }}</td>
                    <td><strong> Hour:  </strong> {{strHoraBoda}}</td>
                </tr>
                <tr>
                    <td><strong>Meeting with Coordinator: </strong>{{strReunionCoordinador}}</td>
                    <td colspan="2"><strong>Couple´s contact info:</strong> {{ strContacto }}</td>
                </tr>
                <tr>
                    <td><strong>Paquete: </strong>{{strPaquete}}</td>
                    <td colspan="2"><strong>Booking Number: </strong>{{strBooking}}</td>
                </tr>
                <tr>
                    <td><strong>Num. Adultos:</strong> {{strTotalPersonas}}</td>
                    <td><strong>Num. Menores:</strong> {{strTotalPersonas}}</td>
                </tr>
                <tr>
                    <td><strong> Incluido: {{strTotalIncluido | currency}}</strong></td>
                    <td><strong> Adicional: {{strTotalAdicional | currency}}</strong></td>
                    <td><strong>TOTAL: {{strTotalMaster | currency}}</strong></td>
                </tr>
            </table>

        </div>

        <div id="serviciopaquete" class="section scrollspy">
            <h5>Servicios Incluidos</h5>
            <!-- collection ini -->
            <ul class="collection">

                <li *ngFor="let srv of serviciosInc " class="collection-item avatar">
                    <i class="material-icons circle teal">done</i>
                    <span class="title col s12 teal-text  "><strong> {{ srv.servicio.categoria.descripcion }} | </strong>  {{ srv.servicio.descripcion }}</span>
                    <span class=" col s4 ">{{ srv.cantidad }}</span>
                    <span class=" col s4 ">$ {{ srv.precioUnitario }}</span>
                    <span class=" col s4 "><strong>$ {{ srv.total }}</strong></span>

                    <p class="teal-text">{{srv.nota}}<br>{{srv.nota2}} <br>{{srv.nota3}} </p>

                    <span data-target="slide-out" class="secondary-content  sidenav-trigger" title="incluido" (click)="setFormulario(srv)"><i class="material-icons ">edit</i></span>
                </li>
            </ul>
            <!-- collection fin -->

        </div>

        <div id="servicioagregados" class="section scrollspy">
            <h5>Servicios Adicionales </h5>
            <ul class="collection">

                <li *ngFor="let srv of serviciosAdicionales " class="collection-item avatar">
                    <i class="material-icons circle pink">add</i>
                    <span class="title col s12   "><strong> {{ srv.servicio.categoria.descripcion }} | {{ srv.servicio.descripcion }}</strong></span>
                    <span class=" col s4 ">{{ srv.cantidad }}</span>
                    <span class=" col s4 ">$ {{ srv.precioUnitario }}</span>
                    <span class=" col s4 "> <strong>$ {{ srv.total }}</strong></span>

                    <p>{{srv.nota}}<br> {{srv.nota2}} <br> {{srv.nota3}} </p>

                    <span data-target="slide-out" class="secondary-content  sidenav-trigger" title="incluido" (click)="setFormulario(srv)"><i class="material-icons ">edit</i></span>
                </li>
            </ul>

        </div>


        <div id="agregar" class="section scrollspy">
            <h6>Agregar Servicios </h6>

            <a class="waves-effect waves-light btn modal-trigger" (click)="getCatalogoServicios()" href="#modalAdi">Agregar +</a>
            <!-- <button class="modal-close waves-effect waves-green btn-flat" (click)="getCatalogoServicios()">Guardar</button> -->

        </div>
    </div>


    <!-- scrollspy col hide-on-small-only m3 l2 -->
    <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pinned" style="top: 0px;">
            <div class="buysellads hide-on-small-only">
                <!-- CarbonAds Zone Code -->

                <div class="card ">
                    <span class="white-text">
                        ...
                        </span>

                </div>
                <div style="height: 1px;">
                    <ul class="section table-of-contents">
                        <li><a href="#master">Master File</a></li>
                        <li><a href="#serviciopaquete">Servicios del paquete</a></li>
                        <li><a href="#servicioagregados">Servicios Adicionales</a></li>
                        <li><a href="#agregar">Agregar Servicios</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- sideout -->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view " [ngClass]=" frmIncluido ?  'teal' : 'pink'  ">

                <ul class=" white-text">
                    <li>
                        <h6>{{frmServicio}}</h6>
                    </li>
                    <li><span>  {{ frmIncluido ? 'Incluido' : 'No incluido' }}</span> | <span class="sidenav-close">Cerrar</span> </li>
                    <!-- <li> Correo: <span>  {{correoDato}}</span></li>
                            <li> Deposito: <span>$ {{depositoDato}}</span></li> -->
                </ul>
            </div>
        </li>
        <li>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardaFormulario(f)">

                <ul>
                    <li>
                        <div class="input-field col s5">
                            <input [(ngModel)]="frmCantidad" #inputp (keyup)="cambioCantidad( inputp.value)" name="frmCantidad" id="first_name" type="number" class="validate" required>
                            <label class="active" for="first_name">Cantidad</label>
                        </div>

                        <div class="input-field col s7">
                            <input [(ngModel)]="frmUnitario" #inputu (keyup)="cambioUnitario( inputu.value)" name="frmUnitario" id="frmUnitario" type="text" class="validate" required>
                            <label class="active" for="frmUnitario">Precio Unitario $</label>
                        </div>
                    </li>

                    <li>
                        <div class="input-field col s12">
                            <input [(ngModel)]="frmTotal" readonly="true" name="frmTotal" id="frmTotal" type="text" class="validate">
                            <label class="active" for="frmTotal">Total $</label>
                        </div>
                    </li>

                    <li>
                        <p>
                            <label>
                            <input type="checkbox" class="filled-in" checklist-model="frmIncluido" id="frmIncluido" name="frmIncluido" [checked]="frmIncluido" (change)="frmIncluido = !frmIncluido"  />
                                    <span>Incluido</span>
                            </label>
                        </p>
                    </li>

                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a class="subheader">NOTAS</a></li>

                    <li>
                        <div class="input-field col s12">
                            <input [(ngModel)]="frmNota" name="frmNota" id="frmNota" type="text" class="validate">
                            <label class="active" for="frmNota">Linea1</label>
                        </div>
                    </li>

                    <li>
                        <div class="input-field col s12">
                            <input [(ngModel)]="frmNota2" name="frmNota2" id="frmNota2" type="text" class="validate">
                            <label class="active" for="frmNota2">Linea2</label>
                        </div>
                    </li>

                    <li>
                        <div class="input-field col s12">
                            <input [(ngModel)]="frmNota3" name="frmNota3" id="frmNota3" type="text" class="validate">
                            <label class="active" for="frmNota3">Linea3</label>
                        </div>
                    </li>

                    <li>
                        <button type="button" class="sidenav-close btn grey darken-1 waves-effect waves-light m-r-10">Cerrar</button> |
                        <button type="submit" class="btn waves-effect waves-light m-r-10">guardar</button> |
                        <button type="button" class="btn pink waves-effect waves-light m-r-10" (click)="quitarServicio()">Elim</button>
                    </li>

                </ul>

            </form>

        </li>
        <li>
            <div class="divider"></div>
        </li>

    </ul>

    <!-- modal -->
    <div id="modalAdi" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Agregar Servicios</h4>
            <p>Seleccionar servicios</p>

            <ul class="collection ">
                <li class="collection-item" *ngFor="let srv of catServicios">
                    <p>
                        <label>
                        <input type="checkbox" id="cbxAdd" name="cbxAdd" value="{{srv.id}}"  class="filled-in" />
                        <span style="color:black">{{srv.id}} | {{ srv.descripcion}}</span>
                    </label>
                    </p>
                </li>

            </ul>


        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
            <a class="modal-close waves-effect waves-green btn-flat" (click)="agregarServicio()">Agregar</a>
        </div>
    </div>