<div class="wrapper ">
    <app-sidebar></app-sidebar>

    <div class="main-panel ps-container ps-theme-default">
        <!-- Navbar -->
        <app-header></app-header>
        <!-- End Navbar -->

        <!-- CONTENIDO PRINCIPAL -->
        <div class="content">
            <div>Contenido</div>

            <!-- <div class="container-fluid">
                <div class="header text-center">
                    <h3 class="title">Header text</h3>
                </div>
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="card card-calendar">
                            <div class="card-body ">
                                Contenido calendario

                                <div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        footer
                    </div>
                </footer>
            </div> -->
        </div>


    </div>
    <!-- CONTENIDO >>  -->

</div>