<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <div class="progress" *ngIf="cargando">
                        <div class="indeterminate"></div>
                    </div>

                    <div class="text-right" *ngIf="!cargando">
                        <!-- Modal Trigger -->
                        <button data-target="modals" class="btn modal-trigger" (click)="modalCrear()">Crear Servicio</button>
                        <button data-target="modalc" class="btn modal-trigger" (click)="modalCrearCat()">Agregar Categoria</button>
                    </div>

                    <h4 class="card-title">Servicios ({{totalRegistros}})</h4>
                    <table id="tblRegistros" *ngIf="!cargando" class="striped responsive-table ">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Precio Sugerido</th>
                                <th>Divisa</th>
                                <th>Nota</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registros">
                                <td>{{ reg.descripcion }}</td>

                                <td>{{ reg.strCategoria }} </td>

                                <td>{{ reg.precioSugerido }}</td>
                                <td>{{ reg.strDivisa}}</td>
                                <td>{{ reg.nota }}</td>
                                <td>
                                    <button (click)="borrar(reg)" class="btn  red  lighten-1">
                                        <i class="material-icons prefix">delete</i>
                                </button>
                                    <button (click)="modalEdicion(reg)" data-target="modals" class="btn indigo  lighten-1 modal-trigger">
                                        <i class="material-icons prefix">create</i>
                                </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal Categoria -->
<div id="modalc" class="modal">

    <form [formGroup]="fgcat" (ngSubmit)="saveCategoria()">
        <div class="modal-content">
            <h4> Nueva Categoria</h4>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="descripcioncat" type="text" [ngClass]=" errorCamposCat.descripcion  ? 'invalid' : 'valid' " (blur)="mostrarErrorCat( 'descripcion') " formControlName="descripcion" maxlength="120">

                    <label for="descripcioncat" class="active">Nombre de Categoria</label>
                    <span class="helper-text" *ngIf="errorCamposCat.descripcion" [innerHTML]="errorCamposCat.descripcion">Helper text</span>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey darken-1 modal-close " data-dismiss="modal">Cerrar </button>
            <button type="submit" [disabled]="!fgcat.valid" class="btn modal-close">  Guardar</button>
        </div>
    </form>

</div>

<!-- Modal Structure -->
<div id="modals" class="modal">

    <form [formGroup]="fg" (ngSubmit)="save()">
        <div class="modal-content">
            <h4> {{ modoEdicion ? 'Editar Servicio' : 'Nuevo Servicio'}}</h4>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="descripcionc" type="text" [ngClass]=" errorCampos.descripcion  ? 'invalid' : 'valid' " (blur)="mostrarError( 'descripcion') " formControlName="descripcion" maxlength="120">

                    <label for="descripcionc" class="active">Nombre de Servicio</label>
                    <span class="helper-text" *ngIf="errorCampos.descripcion" [innerHTML]="errorCampos.descripcion">Helper text</span>

                </div>
                <div class="input-field col s6">
                    <select formControlName="categoriaId">
                        <option value="" disabled [selected]="!modoEdicion">Seleccionar Cat</option>
                                <option *ngFor="let cat of categorias " [value]="cat.id"  >{{cat.descripcion}}</option>
                             </select>
                    <label class="active">Categoria</label>
                </div>

            </div>


            <div class="row">

                <div class="input-field col s6">
                    <i class="material-icons prefix">attach_money</i>
                    <input id="precioSugeridoc" type="text" [ngClass]=" errorCampos.precioSugerido  ? 'invalid' : 'valid' " (blur)="mostrarError( 'precioSugerido') " formControlName="precioSugerido">

                    <label for="precioSugeridoc" class="active">Precio Sugerido</label>
                    <span class="helper-text" *ngIf="errorCampos.precioSugerido" [innerHTML]="errorCampos.precioSugerido">Helper text</span>

                </div>


                <div class="input-field col s6">
                    <select formControlName="divisaId">
            <option value="" disabled [selected]="!modoEdicion">Seleccionar Divisa</option>
                    <option *ngFor="let divisa of divisas " [value]="divisa.id"   >{{divisa.clave}}</option>
                 </select>
                    <label class="active">Divisa</label>
                </div>



            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">dehaze</i>
                    <input id="nota" type="text" [ngClass]=" errorCampos.nota  ? 'invalid' : 'valid' " (blur)="mostrarError( 'nota') " formControlName="nota" maxlength="120">

                    <label for="nota" class="active">nota</label>
                    <span class="helper-text" *ngIf="errorCampos.nota" [innerHTML]="errorCampos.nota">Helper text</span>

                </div>


                <div class="input-field col s6">
                    <select multiple id="multidepa">
                      <option value="" disabled [selected]="!modoEdicion">Seleccionar Departamentos</option>
                    <option  *ngFor="let dep of departamentos " [selected]="dep.selected"  [value]="dep.id"  >{{dep.nombre}}</option>
                 </select>
                    <label class="active">Departamento</label>
                </div>



            </div>

            <div class="row">
                <div class="input-field col s6">
                    <p>
                        <label>
                      <input type="checkbox" class="filled-in" checked="checked" formControlName="activo" />
                      <span>Activo</span>
                    </label>
                    </p>
                </div>
            </div>
            <!-- <br><br> -->
            <!-- <br><br> -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey darken-1 modal-close " data-dismiss="modal">Cerrar </button>
            <button type="submit" [disabled]="!fg.valid" class="btn modal-close">  Guardar</button>
        </div>
    </form>

</div>