<!-- <button (click)="IniciarCal()">Iniciar</button> -->
<button (click)="GetFecha()">getfecha</button>

<a (click)="IniciarCal()" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Iniciar Cal</a>

<button (click)="GoToday()" class="waves-effect waves-light btn">Hoy</button>
<button (click)="GoAnterior()" class="waves-effect waves-light btn"> Ant. </button>
<button (click)="GoSiguiente()" class="waves-effect waves-light btn">Sig. </button>



<!-- Modal Trigger -->
<button data-target="modal1" class="btn modal-trigger">Abrir</button>

<div id='calendar'></div>

<!-- Formulario Agenda -->
<!-- Modal Structure -->
<div id="modal1" class="modal">

    <form [formGroup]="formG" (ngSubmit)="save()">
        <div class="modal-content">
            <h4> {{ modoEdicion ? 'Editar' : 'Agregar Nuevo'}}</h4>
            <div class="row">


                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fboda" type="text" [ngClass]=" errorCampos.fechaBoda  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaBoda') " formControlName="fechaBoda">
                    <label for="fboda" class="active">Fecha Boda</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaBoda" [innerHTML]="errorCampos.fechaBoda">Helper text</span>
                </div>


                <!-- <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fechaBoda" type="text" [ngClass]=" errorCampos.fechaBoda  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaBoda') " formControlName="fechaBoda">
                    <label for="fechaBoda" class="active">Fecha Boda</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaBoda" [innerHTML]="errorCampos.fechaBoda">Helper text</span>
                </div> -->


            </div>




            <br><br><br><br>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey darken-1 modal-close " data-dismiss="modal">Cerrar </button>
            <button type="submit" [disabled]="!formG.valid" class="btn modal-close">  Guardar</button>
        </div>
    </form>

</div>