<!-- <button (click)="IniciarCal()">Iniciar</button> -->
<!-- <button (click)="GetFecha()">getfecha</button> -->

<a id="inicialcal" name="inicialcal" (click)="IniciarCal()" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Iniciar Calendario</a>

<button (click)="GoToday()" class="waves-effect waves-light btn">Hoy</button>
<button (click)="GoAnterior()" class="waves-effect waves-light btn"> <i class="material-icons right">chevron_left</i>   </button>
<button (click)="GoSiguiente()" class="waves-effect waves-light btn"> <i class="material-icons right">chevron_right</i>  </button>

<!-- Modal Trigger -->
<button id="btnCrear" hidden data-target="modal1" class=" modal-trigger" (click)="modalCrear()">Abrir</button>
<!-- <button data-target="modal1" id="btnEditar" class="btn modal-trigger" (click)="modalEdicion()">Editar</button> -->

<div id='calendar'></div>

<!-- side -->
<ul id="slide-out" class="sidenav">
    <li>

        <div class="user-view " [ngClass]=" tipoAgendaSelected == 3 ? 'pink' : 'teal' ">

            <ul class=" white-text">
                <li>
                    <h5>{{fechaDato}}</h5>
                </li>
                <li> Pareja: <span>  {{parejaDato}}</span></li>
                <li> Correo: <span>  {{correoDato}}</span></li>
                <li> Deposito: <span>$ {{depositoDato}}</span></li>
            </ul>
        </div>

    </li>
    <li><a href="#" data-target="modal1" class=" modal-trigger waves-effect" (click)="modalEdicion()"><i class="material-icons">view_list</i>Ver Detalles</a></li>
    <li><a href="#" class="waves-effect"><i class="material-icons ">update</i>Historial</a></li>

    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Acciones</a></li>
    <li><a class="btn waves-effect pink accent-3" *ngIf="tipoAgendaSelected >  0 && tipoAgendaSelected <  3" (click)="CancelarAgenda()"><i class="material-icons ">timer_off</i>Cancelar Fecha</a></li>

    <li><a class="btn waves-effect" *ngIf="tipoAgendaSelected == 1" (click)="ConfirmarAgenda()"><i class="material-icons " >playlist_add_check</i>Confirmar Fecha</a></li>
    <li><a class="btn waves-effect lime darken-3" *ngIf="tipoAgendaSelected == 2" (click)="FinalizarAgenda()"><i class="material-icons ">done_all</i>Finalizar</a></li>

    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Documentos</a></li>
    <li><a href="#" class="waves-effect"><i class="material-icons ">timer_off</i> Ver Master File</a></li>
    <li><a href="#" class="waves-effect"><i class="material-icons ">timer_off</i> Imp regs.</a></li>


</ul>

<!-- <a href="#" id="btnSideBar" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
<button id="btnSideBar" hidden data-target="slide-out" class="sidenav-trigger" (click)="modalEdicion()">Editar</button>


<!-- Formulario Agenda disabled-->
<!-- Modal Structure -->
<div id="modal1" class="modal ">

    <form [formGroup]="formG" (ngSubmit)="save()">
        <div class="modal-content">
            <input type="hidden" id="idagendaedit" value="0" />
            <input type="hidden" id="tipoagenda" value="0" />
            <h5 class=" "> {{idAgenda}} {{ modoEdicion ? ' | Detalle reserva ' : ' | Nuevo '}} | {{ strTipo }} | {{fechaDato}} | <button type="button" class="btn grey darken-1 modal-close " data-dismiss="modal">Cerrar </button> </h5>

            <div class="progress ">
                <div class="determinate blue darken-4" [style.width]="progreso +'%'"></div>
            </div>
            <p>{{ modoEdicion ? ' Fecha reservada ' : ' Reservar Fecha tentativa'}} </p>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">event_available</i>
                    <input type="hidden" id="fboda" value="">
                    <input id="fboda2" name="fboda2" type="date" [ngClass]=" errorCampos.fechaBoda  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaBoda') " formControlName="fechaBoda">
                    <label for="fboda2" class="active">Fecha</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaBoda" [innerHTML]="errorCampos.fechaBoda">Helper text</span>
                </div>


                <div class="input-field col s6">
                    <i class="material-icons prefix">access_time</i>
                    <select formControlName="horaBoda" id="selHora">
                        <option  disabled >Seleccionar Hora</option>
                                <option *ngFor="let hra of horas " [value]="hra.hora" [selected]="selectedHora == hra.hora"  >{{hra.hora}}</option>
                             </select>
                    <label class="active">Hora</label>
                </div>

            </div>
            <div class="row">

                <div class="input-field col s6">
                    <input id="nombrePareja" type="text" [ngClass]=" errorCampos.nombrePareja  ? 'invalid' : 'valid' " (blur)="mostrarError( 'nombrePareja') " formControlName="nombrePareja">
                    <label for="nombrePareja" class="active">Nombre de la pareja</label>
                    <span class="helper-text" *ngIf="errorCampos.nombrePareja" [innerHTML]="errorCampos.nombrePareja">Helper text</span>
                </div>

                <div class="input-field col s6">

                    <input id="correoPareja" type="text" [ngClass]=" errorCampos.correoPareja  ? 'invalid' : 'valid' " (blur)="mostrarError( 'correoPareja') " formControlName="correoPareja">
                    <label for="correoPareja" class="active">Correo pareja</label>
                    <span class="helper-text" *ngIf="errorCampos.correoPareja" [innerHTML]="errorCampos.correoPareja">Helper text</span>
                </div>


            </div>

            <div class="row">
                <div class="input-field col s6">

                    <input id="nacionalidad" type="text" class="autocomplete" maxlength="2" [ngClass]=" errorCampos.nacionalidad  ? 'invalid' : 'valid' " (blur)="mostrarError( 'nacionalidad') " formControlName="nacionalidad">

                    <label for="nacionalidad" class="active">Nacionalidad</label>
                    <span class="helper-text" *ngIf="errorCampos.nacionalidad" [innerHTML]="errorCampos.nacionalidad">Helper text</span>

                </div>
            </div>

            <!-- [selected]="!modoEdicion" -->
            <div class="row">
                <div class="input-field col s6">
                    <select formControlName="lugarCeremoniaId">
                        <option  disabled >Seleccionar Lugar Ceremonia</option>
                                <option *ngFor="let lugar of lugaresCeremonia " [value]="lugar.id" [selected]="selectedCeremonia == lugar.id"  >{{lugar.lugar}}</option>
                             </select>
                    <label class="active">Lugar Ceremonia</label>
                </div>


                <div class="input-field col s6">
                    <select formControlName="tipoCeremoniaId">
                        <option  disabled >Sel Tipo Ceremonia</option>
                                <option *ngFor="let tipo of tiposCeremonias " [value]="tipo.id" [selected]="selectedTipoCe == tipo.id"  >{{tipo.descripcion}}</option>
                             </select>
                    <label class="active">Tipo Ceremonia</label>
                </div>
            </div>





            <div class="row">
                <div class="input-field col s6">
                    <select formControlName="lugarCenaId">
                        <option  disabled >Seleccionar Lugar Cena</option>
                                <option *ngFor="let lugar of lugaresCena " [value]="lugar.id" [selected]="selectedCena == lugar.id"  >{{lugar.lugar}}</option>
                             </select>
                    <label class="active">Lugar Cena</label>
                </div>


                <div class="input-field col s6">
                    <select formControlName="backUpId">
                        <option  disabled >Seleccionar Backup</option>
                                <option *ngFor="let lugar of lugaresBack " [value]="lugar.id" [selected]="selectedBack == lugar.id"  >{{lugar.lugar}}</option>
                             </select>
                    <label class="active">Lugar BackUp</label>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s6">
                    <select formControlName="paqueteId">
                       <option  disabled >Seleccionar Paquete</option>
                         <option *ngFor="let pa of paquetes " [value]="pa.id" [selected]="selectedPaquete == pa.id"  >{{pa.descripcion}}</option>
                     </select>
                    <label class="active">Paquete</label>
                </div>



            </div>


            <div class="row">

                <div class="input-field col s6">
                    <select formControlName="ttooId" (change)="ttooChange($event.target.value)">
                             <option  disabled >Seleccionar Ttoo</option>
                                   <option *ngFor="let to of ttoos " [value]="to.id" [selected]="selectedTtoo == to.id"  >{{to.nombre}}</option>
                            </select>
                    <label class="active">TTOO</label>
                </div>

                <div class="input-field col s6">
                    <select formControlName="agenciaId" class="selAgencia">
                             <option  disabled >Seleccionar Agencia</option>
                                   <option *ngFor="let ag of agencias " [value]="ag.id" [selected]="selectedAgencia == ag.id"  >{{ag.nombre}}</option>
                            </select>
                    <label class="active">Agencia</label>
                </div>



            </div>


            <div class="row">

                <div class="input-field col s6">
                    <input id="correoAgencia" type="text" [ngClass]=" errorCampos.correoAgencia  ? 'invalid' : 'valid' " (blur)="mostrarError( 'correoAgencia') " formControlName="correoAgencia">
                    <label for="correoAgencia" class="active">Correo Agencia</label>
                    <span class="helper-text" *ngIf="errorCampos.correoAgencia" [innerHTML]="errorCampos.correoAgencia">...</span>
                </div>

                <div class="input-field col s6">
                    <input id="nombreAgente" type="text" maxlength="50" [ngClass]=" errorCampos.nombreAgente  ? 'invalid' : 'valid' " (blur)="mostrarError( 'nombreAgente') " formControlName="nombreAgente">
                    <label for="nombreAgente" class="active">Nombre Agente</label>
                    <span class="helper-text" *ngIf="errorCampos.nombreAgente" [innerHTML]="errorCampos.nombreAgente">...</span>
                </div>


            </div>


            <div class="row">



                <div class="input-field col s4">
                    <input id="comision" type="number" [ngClass]=" errorCampos.comision  ? 'invalid' : 'valid' " (blur)="mostrarError( 'comision') " formControlName="comision">
                    <label for="comision" class="active">Comision</label>
                    <span class="helper-text" *ngIf="errorCampos.comision" [innerHTML]="errorCampos.comision">...</span>
                </div>

                <div class="input-field col s2">
                    <select formControlName="divisaComision">
                         <!-- <option  disabled >Sel Divisa</option> -->
                               <option *ngFor="let dv of divisas " [value]="dv.id" [selected]="selectedDivisaCom == dv.id"  >{{dv.clave}}</option>
                        </select>
                    <label class="active">Divisa</label>
                </div>

                <div class="input-field col s6">
                    <input id="fechaPago" type="date" [ngClass]=" errorCampos.fechaPago  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaPago') " formControlName="fechaPago">
                    <label for="fechaPago" class="active">Fecha Pago</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaPago" [innerHTML]="errorCampos.fechaPago">...</span>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s3">
                    <input id="paxAdultos" type="number" [ngClass]=" errorCampos.paxAdultos  ? 'invalid' : 'valid' " (blur)="mostrarError( 'paxAdultos') " formControlName="paxAdultos">
                    <label for="paxAdultos" class="active">Adultos</label>
                    <span class="helper-text" *ngIf="errorCampos.paxAdultos" [innerHTML]="errorCampos.paxAdultos">...</span>
                </div>

                <div class="input-field col s3">
                    <input id="pax3raEdad" type="number" [ngClass]=" errorCampos.pax3raEdad  ? 'invalid' : 'valid' " (blur)="mostrarError( 'pax3raEdad') " formControlName="pax3raEdad">
                    <label for="pax3raEdad" class="active">3ra. Edad</label>
                    <span class="helper-text" *ngIf="errorCampos.pax3raEdad" [innerHTML]="errorCampos.pax3raEdad">...</span>
                </div>

                <div class="input-field col s2">
                    <input id="paxJunior" type="number" [ngClass]=" errorCampos.paxJunior  ? 'invalid' : 'valid' " (blur)="mostrarError( 'paxJunior') " formControlName="paxJunior">
                    <label for="paxJunior" class="active">Junior</label>
                    <span class="helper-text" *ngIf="errorCampos.paxJunior" [innerHTML]="errorCampos.paxJunior">...</span>
                </div>

                <div class="input-field col s2">
                    <input id="paxNinos" type="number" [ngClass]=" errorCampos.paxNinos  ? 'invalid' : 'valid' " (blur)="mostrarError( 'paxNinos') " formControlName="paxNinos">
                    <label for="paxNinos" class="active">Niños</label>
                    <span class="helper-text" *ngIf="errorCampos.paxNinos" [innerHTML]="errorCampos.paxNinos">...</span>
                </div>

                <div class="input-field col s2">
                    <input id="paxCunas" type="text" [ngClass]=" errorCampos.paxCunas  ? 'invalid' : 'valid' " (blur)="mostrarError( 'paxCunas') " formControlName="paxCunas">
                    <label for="paxCunas" class="active">Cunas</label>
                    <span class="helper-text" *ngIf="errorCampos.paxCunas" [innerHTML]="errorCampos.paxCunas">...</span>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s5">
                    <input id="numReserva" type="text" [ngClass]=" errorCampos.numReserva  ? 'invalid' : 'valid' " (blur)="mostrarError( 'numReserva') " formControlName="numReserva">
                    <label for="numReserva" class="active">No. Reserva</label>
                    <span class="helper-text" *ngIf="errorCampos.numReserva" [innerHTML]="errorCampos.numReserva">...</span>
                </div>

                <div class="input-field col s3">
                    <input id="numHabitacion" type="text" [ngClass]=" errorCampos.numHabitacion  ? 'invalid' : 'valid' " (blur)="mostrarError( 'numHabitacion') " formControlName="numHabitacion">
                    <label for="numHabitacion" class="active">No. Habitacion</label>
                    <span class="helper-text" *ngIf="errorCampos.numHabitacion" [innerHTML]="errorCampos.numHabitacion">...</span>
                </div>

                <div class="input-field col s4">
                    <input id="bookingReference" type="text" [ngClass]=" errorCampos.bookingReference  ? 'invalid' : 'valid' " (blur)="mostrarError( 'bookingReference') " formControlName="bookingReference">
                    <label for="bookingReference" class="active">Booking Reference</label>
                    <span class="helper-text" *ngIf="errorCampos.bookingReference" [innerHTML]="errorCampos.bookingReference">...</span>
                </div>


            </div>

            <div class="row">

                <div class="input-field col s5">
                    <input id="promocion" type="text" [ngClass]=" errorCampos.promocion  ? 'invalid' : 'valid' " (blur)="mostrarError( 'promocion') " formControlName="promocion">
                    <label for="promocion" class="active">Promocion</label>
                    <span class="helper-text" *ngIf="errorCampos.promocion" [innerHTML]="errorCampos.promocion">...</span>
                </div>

                <div class="input-field col s4">
                    <input id="deposito" type="number" [ngClass]=" errorCampos.deposito  ? 'invalid' : 'valid' " (blur)="mostrarError( 'deposito') " formControlName="deposito">
                    <label for="deposito" class="active">Deposito</label>
                    <span class="helper-text" *ngIf="errorCampos.deposito" [innerHTML]="errorCampos.deposito">...</span>
                </div>

                <div class="input-field col s3">
                    <select formControlName="divisaDeposito">
                             <!-- <option  disabled >Sel Divisa Deposito</option> -->
                                   <option *ngFor="let dv of divisas " [value]="dv.id" [selected]="selectedDivisaCom == dv.id"  >{{dv.clave}}</option>
                            </select>
                    <label class="active">Divisa</label>
                </div>
            </div>
            <!-- Fecha Pago -->

            <div class="row">

                <div class="input-field col s6">
                    <input id="fechaConfirmada" type="date" [ngClass]=" errorCampos.fechaConfirmada  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaConfirmada') " formControlName="fechaConfirmada">
                    <label for="fechaConfirmada" class="active">Fecha Venta</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaConfirmada" [innerHTML]="errorCampos.fechaConfirmada">...</span>
                </div>

            </div>

            <div class="row">

                <div class="input-field col s6">
                    <input id="fechaLlegada" type="date" [ngClass]=" errorCampos.fechaLlegada  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaLlegada') " formControlName="fechaLlegada">
                    <label for="fechaLlegada" class="active">Fecha LLegada</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaLlegada" [innerHTML]="errorCampos.fechaLlegada">...</span>
                </div>

                <div class="input-field col s6">
                    <input id="fechaSelloAuditoria" type="date" [ngClass]=" errorCampos.fechaSelloAuditoria  ? 'invalid' : 'valid' " (blur)="mostrarError( 'fechaSelloAuditoria') " formControlName="fechaSelloAuditoria">
                    <label for="fechaSelloAuditoria" class="active">Fecha Auditoria</label>
                    <span class="helper-text" *ngIf="errorCampos.fechaSelloAuditoria" [innerHTML]="errorCampos.fechaSelloAuditoria">...</span>
                </div>

            </div>


            <br><br><br><br>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey darken-1 modal-close " data-dismiss="modal">Cerrar </button>
            <!-- <button type="button" id="patchfecha" class="btn grey darken-1  " (click)="patchFecha()">Patch </button> -->
            <button type="submit" *ngIf="tipoAgendaSelected < 3" [disabled]="!formG.valid" class="btn modal-close"> {{ modoEdicion ? 'Guardar Cambios' : 'Guardar Nuevo'}} </button>
            <!-- <button type="button" *ngIf="tipoAgendaSelected == 1" class="btn teal darken-3 modal-close " data-dismiss="modal" (click)="ConfirmarAgenda()">Confirmar </button>
            <button type="button" *ngIf="tipoAgendaSelected >  0 && tipoAgendaSelected <  3" class="btn  red darken-3 modal-close " data-dismiss="modal" (click)="CancelarAgenda()">Cancelar </button> -->
        </div>
    </form>

</div>