<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top collapsing" id="navigation-example" style="height: 70px;">
    <div class="container-fluid">
        <div class="navbar-wrapper">

            <a class="navbar-brand" href="#pepito">TITULO DE LA VENTANA</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="true" aria-label="Toggle navigation" data-target="#navigation-example">
    
  <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
    </button>

        <div class="collapse navbar-collapse justify-content-end">
            <!-- form buscador -->
            <a class="navbar-brand" href="#pepito">TITULO DE LA VENTANA</a>
        </div>
    </div>
</nav>