<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li *ngIf="gbl.hotelSeleccionado"><a routerLinkActive="active" routerLink="/lugarcena">Lugar Cena</a></li>
    <li *ngIf="gbl.hotelSeleccionado"><a routerLinkActive="active" routerLink="/servicios">Servicios</a></li>
    <li *ngIf="gbl.hotelSeleccionado"><a routerLinkActive="active" routerLink="/paquetes">Paquetes</a></li>
    <li *ngIf="gbl.hotelSeleccionado" class="divider"></li>
    <li *ngIf="gbl.hotelSeleccionado"><a href="#">item</a></li>
    <li *ngIf="!gbl.hotelSeleccionado"><a class="modal-trigger" href="#modalselhotel">Seleccionar hotel</a></li>
</ul>
<!-- movil -->
<ul id="dropdown11" class="dropdown-content">
    <li><a href="#">Uno</a></li>
    <li><a href="#">Dos</a></li>
    <li class="divider"></li>
    <li><a href="#">Tres</a></li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdown2" class="dropdown-content">
    <li *ngIf="gbl.hotelSeleccionado"><a routerLinkActive="active" routerLink="/agenda/ini">Agenda</a></li>
    <li *ngIf="gbl.hotelSeleccionado" class="divider"></li>
    <li *ngIf="!gbl.hotelSeleccionado"><a class="modal-trigger" href="#modalselhotel">Seleccionar hotel</a></li>
</ul>
<div class="navbar-fixed">
    <nav class=" cyan darken-4" role="navigation">
        <!-- <a id="logo-container" href="#" class="brand-logo"> {{gbl.tituloModulo}}</a> / -->
        <div class="nav-wrapper container"> <a class="brand-logo   modal-trigger" href="#modalselhotel">{{gbl.hotelSelected}} <i class="material-icons right"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a routerLinkActive="active" routerLink="/dashboard"> Inicio</a></li>
                <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Catalogos<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="#" data-target="dropdown2">Registros<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a (click)="_usuarioService.logout()">Salir</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
                <li><a class="dropdown-trigger" href="#" data-target="dropdown11">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a (click)="_usuarioService.logout()">Salir</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<!-- Modal Structure -->
<div id="modalselhotel" class="modal">
    <div class="modal-content">
        <h4>Seleccionar Hotel</h4>
        <!-- <p>A bunch of text</p> -->

        <ul class="collection">
            <a class="modal-close collection-item avatar" *ngFor="let hotel of hoteles" (click)="fnSelect(hotel)">
                <i class="material-icons circle pink darken-3">folder</i>
                <span class="title"><h5>{{hotel.id}} | {{hotel.nombre}}</h5></span>
                <h6>Hotel sandos - </h6>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </a>
        </ul>
    </div>
    <div class="modal-footer">
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
    </div>
</div>